<app-navbar></app-navbar>
<h1 class = "text-center" >Onboard List</h1>
<!-- Search Bar --> 
<div class="container">
  <form >
    <div class="form-row" style= "align-self: center;">
      <div class="form-group col-md-3">
        <select id="parameter" name = "parameter" [(ngModel)] = "parameter" class="form-control">
          <option value="onboardId">Onboard Id</option>
          <option value="candidateId">Candidate Id</option>
          <option value = "firstName">First Name</option>
          <option value = "lastName">Last Name</option>
          <option value = "college">College</option>
          <option value = "location">Location</option>
          <option value="onboardStatus">Onboard Status</option>
        </select>
      </div>
      <div class="form-group col-md-7">
        <input type="text" name = "value" [(ngModel)] = "value" class="form-control" id="value" placeholder="Search by parameters">
      </div>
      <div class="form-group col-md-1">
        <button type="submit" (click) = "searchByParameter()" class="btn btn-primary">Search</button>
      </div>
      <div class="form-group col-md-1">
        <button type="submit" (click) = "resetSearch()" class="btn btn-primary">Reset</button>
      </div>
    </div>
    </form>
  </div>

<!-- Candidate cards -->
<div class="container">

      <table class="table table-striped">
        <tbody>
          <tr *ngFor = "let onboard of onboards">
                <td colspan="1">
                    Candidate ID: {{onboard.candidate.candidateId}}
                    <br>
                    Onboard ID: {{onboard.onboardId}} 
                    <br>
                    Manager ID: {{onboard.hiringManager.hId}}
                    <br>
                </td>

                <td colspan="2">
                      Name: {{onboard.candidate.firstName}} {{onboard.candidate.lastName}}      
                        <br>
                        Date of Creation: {{onboard.startDate}}
                        <br>
                        Manager Name: {{onboard.hiringManager.name}}
                </td>

                <td colspan="1">
                    Onboard Status: {{onboard.onboardStatus}}
                    <br>
                    Expected Onboarding Date: {{onboard.eta}}
                    <br>
                    Onboard Location: {{onboard.location}}
                </td>
                <td colspan="1">
                  Background Status: <span *ngIf="onboard.bgStatus; else Pending">Done</span>
                  <br>
                  Graduation: <span *ngIf="onboard.graduation; else Pending">Done</span>
                  <br>
                  Training: <span *ngIf="onboard.training; else Pending">Done</span>
                  <br>
                  <ng-template #Pending>Pending</ng-template>
              </td>
                    <td>
                        <button (click)="updateOnboard(onboard.onboardId)" class="btn btn-primary">Edit</button>
                        <br><br>
                        <button (click)="deleteOnboard(onboard.onboardId)" class="btn btn-danger">Delete</button>
                    </td>
          </tr>
        </tbody>
      </table>
</div>
<app-footer></app-footer>