<app-navbar></app-navbar>
<h1 class = "text-center" >Canidates List</h1>
<!-- Search Bar --> 
<div class="container">
<form>
  <div class="form-row" style= "align-self: center;">
    <div class="form-group col-md-3">
      <select id="parameter" name = "parameter" [(ngModel)] = "parameter" class="form-control">
        <option value="candidateId">Id</option>
        <option value = "firstName">First Name</option>
        <option value = "lastName">Last Name</option>
        <option value = "college">College</option>
      </select>
    </div>
    <div class="form-group col-md-7">
      <input type="text" name = "value" [(ngModel)] = "value" class="form-control" id="value" placeholder="Search by parameters">
    </div>
    <div class="form-group col-md-1">
      <button type="submit" (click) = "searchByParameter()" class="btn btn-primary">Search</button>
    </div>
    <div class="form-group col-md-1">
      <button type="submit" (click) = "resetSearch()" class="btn btn-primary">Reset</button>
    </div>
  </div>
  </form>
</div>

<!-- Candidates -->
<div class="container">

      <table class="table table-striped">
        <thead>   
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">College</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let candidate of candidates">
            <th scope="row">{{candidate.candidateId}}</th>
            <td>{{candidate.firstName}} {{candidate.lastName}}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.college}}</td>
            <td><button (click) = "createOnboard(candidate.candidateId)" class="btn btn-primary">Onboard</button></td>
          </tr>
        </tbody>
      </table>
</div>
<app-footer></app-footer>