<app-navbar></app-navbar>
<div class="container">
<div class="col-md-6 offset-md-3" *ngIf="isDataAvailable">
    <h3> Update Onboard </h3>
    <form (ngSubmit) = "onSubmit()" ngNativeValidate>
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "onboard.candidate.firstName" name = "firstName" readonly>
        </div>
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "onboard.candidate.lastName" name = "lastName" readonly>
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "onboard.candidate.email" name = "email" readonly>
        </div>

        <div class="form-group">
            <label for="hmId">Hiring Manager</label><br>
            <select name="hiringManager" id="hiringManager" [(ngModel)]="onboard.hmId"  required>
                <option *ngFor="let hm of hiringManager" [ngValue]=hm.hmId>{{hm.name}}</option> 
            </select><br>
        </div>
        <div class="form-group">
            <label for="singleSelect">Location</label><br>
            <select name="location" id="location" [(ngModel)]="onboard.location"  required>
                <option value="Mumbai">Mumbai</option> 
                <option value="Bangalore">Bangalore</option>
                <option value="Hyderabad">Hyderabad</option> 
                <option value="Chennai">Chennai</option>
                <option value="Delhi">Delhi</option> 
            </select><br>
        </div>
        <div class="form-group">
            <label>Estimated Date of Onboarding</label>
            <input type="date" class ="form-control" id = "date"
                [(ngModel)] = "onboard.eta" name = "eta" required>
        </div>
        <div class="form-check">
            <input type="checkbox" class ="form-check-input" id = "bg_status"
            [(ngModel)] = "onboard.bgStatus" name = "bg_status">
            <label for="bg_status">Background Check Done?</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class ="form-check-input" id = "graduation"
            [(ngModel)] = "onboard.graduation" name = "graduation">
            <label for="graduation">Graduation Done?</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class ="form-check-input" id = "training"
            [(ngModel)] = "onboard.training" name = "training">
            <label for="training">Training Done?</label>
        </div>
        <div class="form-group">
            <button class = "btn btn-success" type ="submit">Update</button>
        </div>
    </form>
    </div> 
</div>
<app-footer></app-footer>
